<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- *mapper.xml파일에서 쿼리를 작성할때, VO에서 stNo와 같은 형식을 st_no와 같이 취급되게함 -->
	<settings>
		<setting name="mapUnderscoreToCamelCase"  value="false"/>
	</settings>
	

	<!-- TypeAlias로 매핑 파일에서 반복적으로 사용될 패키지의 이름을 정의한다. -->
	<typeAliases>
		<package name="com.futureArtCenter.client.user.vo"/>
		<package name="com.futureArtCenter.admin.media.vo"/>
	</typeAliases>

</configuration>
