@charset "UTF-8";

* {
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: 'Nanum Gothic', sans-serif;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

.main_aside {
	height: 100%;
	background-color: #E3CCAA;
	border-right: 1px solid #ccb6a3;
}

.nav_body {
	margin: 0;
	padding: 50px 0;
}

.collapsible {
	color: #000000;
	cursor: pointer;
	padding: 18px;
	width: 250px;
	border: none;
	text-align: left;
	outline: none;
	font-size: 17px;
	font-weight: bold;
	background-color: #E3CCAA;
}

.collapsible:hover{
	color: #5C350E;
}

.active, .collapsible:hover {
	background-color: #FFFFFF;
}

.sub_menu {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-out;
	width: 200px;
	margin: 0;
}

.sub_menu p {
	margin: 0;
	text-align: left;
	padding: 15px 18px 15px 18px;
}

.sub_menu a{
	color: #000000;
}

.sub_menu a:hover {
	color: #5C350E;
}

.collapsible:after {
	/* content 특수문자를 줄수있다 \02C3 \02C5 이건 화살표 
               \002B \2212 이건 +-*/
	content: '\002B';
	color: #000000;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: "\2212";
}